.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

html {
  background-color: whitesmoke;
  height: 100vh;
}
